<!doctype html>
<html lang="en" ng-app>
  <head>
    <title>SERVIDOR </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-responsive.min.css">
    <style>
      body {
        padding-top: 60px;
      }
    </style>
    <script>
      function ChatController($scope) {
          var socket = io.connect();
          $scope.messages = [];
          $scope.roster = [];
          $scope.name = '';
          $scope.text = '';

          socket.on('connect', function () {
            //$scope.setName();
          });

          socket.on('message', function (msg) {
            
           if(msg.name){ 
            
            if($scope.messages[0]){
               
            }else{
              $scope.messages.push(msg);
            }

            var up = false;
            angular.forEach($scope.messages, function(value, key) {
              if(msg.name.nome == value.name.nome){
                $scope.messages[key] = msg;
                up = true;
              }

            });

            if(up == false){
              $scope.messages.push(msg);
            }
            up = false;

            
          }




            $scope.$apply();
          });

          socket.on('roster', function (names) {
            $scope.roster = names;
            $scope.$apply();
          });
        
          socket.on('servidor', function (ips) {
            $scope.servidor = ips;
            $scope.$apply();
          });


          $scope.send = function send() {
            console.log('Sending message:', $scope.text);
            socket.emit('message', $scope.text);
            $scope.text = '';
          };

        $scope.setName = function setName() {
          //socket.emit('identify', "SERVIDOR");
          //socket.emit('identify', $scope.name);
        };
      }
    </script>
  </head>
  <body>
    <div class="container" ng-controller="ChatController">
      <div class="navbar navbar-fixed-top navbar-inverse">
        <div class="navbar-inner">
          <div class="pull-right">
           
          </div>
        </div>
      </div>
      <div class="page-header">
        <h1></h1>
      </div>
      <div class="row">
        <div class="span7">
          <ul class="nav nav-list well">
            <li class="nav-header">Usuarios</li>
            <li ng-repeat="data in messages" ng-show="data.name.nome">
              <strong> {{data.name.nome}} </strong>
              <div>Hora: {{data.hora}}</div>
              <div>Hora Update: {{data.name.hora}}</div>
              <div>Lat: {{data.text}}</div> 
              <div>Log: {{data.text}}</div> 
            </li>
          </ul>
        </div>
        
        <div class="span4">
          <ul class="nav nav-list well">
            <li class="nav-header">SERVIOR</li>
              <img src="http://chart.apis.google.com/chart?cht=qr&chl={{servidor}}&chs=350x350&chld=H|0"></img>
            </li>
          </ul>
        </div>



      </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/angular.min.js"></script>
    <script src="/js/angular-qrcode.js"></script>
    
  </body>
</html>
