<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>LISTA</title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="js/ng-cordova.min.js"></script>
    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <script src="js/socket.io.js"></script>
    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="starter">

    <ion-pane ng-controller="cadastrar" style="background: {{roster && '#32b432' || '#ffc900'}};">
      <ion-header-bar class="bar-stable">
        <h1 class="title" ng-click="conectar(localServer)" style="padding-left: 20px;">..::Lista::..</h1>
        <button class="button button-assertive" ng-show="!roster" ng-click="esquecer()">esquecer</button>
      </ion-header-bar>
      <ion-content >

          <div ng-show="conectando" style="color: #333; text-align: center;">Conectando: {{localServer}}</div>  
          <br><br>
          <form ng-show="!user && !roster" >
            <div class="list" style="    background: #fff;">
              <label class="item item-input item-stacked-label">
                <span class="input-label">Nome</span>
                <input ng-model="dadosEnv.nome"type="text" placeholder="Nome">
              </label>
              <label class="item item-input item-stacked-label">
                <span class="input-label">Telefone</span>
                <input ng-model="dadosEnv.telefone" type="text" placeholder="Telefone">
              </label>
            </div>

            {{latitude}}
            {{logitude}}
            
            <div class="padding">
            <img src="img/app.png" alt="" width="200"  style="margin: 0 auto; width: 200px; height: 200px; display: block;" ng-click="enviar(dadosEnv)">
              <h3 style="color: #333; text-align: center;">{{ aguarde &&  aguarde || 'Salvar Dados'}}</h3>
            </div>

          </form>
          
          <div ng-show="user && !roster">
            <div class="list">
              <div class="padding">
                <br>

                <br>

                <img src="img/ler2.png" alt="" width="200" ng-click="lerQrcodeChave()" style="margin: 0 auto; width: 200px; height: 200px; display: block;">


              </div>
            </div>
          </div>
          <div ng-show="roster">
            <div class="list">
              <div class="padding">
                <br>
                <br>
                    <img src="img/online2.png" alt="" width="200"  style="margin: 0 auto; width: 200px; height: 200px; display: block;">
                    <h1 style="color: #fff; text-align: center;">
                      ONLINE
                    </h1>
        
                  </div>
                </div>
              </div>
        
        
      </ion-content>
    </ion-pane>
  </body>
</html>